.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#board {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: black;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 194px;
  width: 194px;
  background-color: lightblue;
  margin-left: 4.45px;
  margin-top: 3px;
  background: url("/images/Picture.jpg")
}
.black {
  background-color: black;
}
